version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    versioning-strategy: increase
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7
    ignore:
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "eslint"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@typescript-eslint/eslint-plugin"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@typescript-eslint/parser"
        update-types: ["version-update:semver-major"]
      - dependency-name: "ts-md5"
        update-types: ["version-update:semver-major"]
    groups:
      eslint:
        patterns:
          - "*eslint*"
      sentry:
        patterns:
          - "@sentry/*"
      aws-sdk:
        patterns:
          - "@aws-sdk/*"

  - package-ecosystem: "github-actions"
    directory: ".github/workflows"
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7
