version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7
    ignore:
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "eslint"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@typescript-eslint/eslint-plugin"
        update-types: ["version-update:semver-major"]
      - dependency-name: "@typescript-eslint/parser"
        update-types: ["version-update:semver-major"]
      - dependency-name: "ts-md5"
        update-types: ["version-update:semver-major"]
    groups:
      eslint:
        patterns:
          - "*eslint*"
      sentry:
        patterns:
          - "@sentry/*"
      aws-sdk:
        patterns:
          - "@aws-sdk/*"

  - package-ecosystem: "npm"
    directory: "/packages/access_copy_attacher"
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7

  - package-ecosystem: "npm"
    directory: "/packages/account_space_updater"
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7

  - package-ecosystem: "npm"
    directory: "/packages/api"
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7

  - package-ecosystem: "npm"
    directory: "/packages/archivematica_cleanup"
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7

  - package-ecosystem: "npm"
    directory: "/packages/archivematica-utils"
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7

  - package-ecosystem: "npm"
    directory: "/packages/file-utils"
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7

  - package-ecosystem: "npm"
    directory: "/packages/logger"
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7

  - package-ecosystem: "npm"
    directory: "/packages/record_thumbnail_attacher"
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7

  - package-ecosystem: "npm"
    directory: "/packages/s3-utils"
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7

  - package-ecosystem: "npm"
    directory: "/packages/thumbnail_refresh"
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7

  - package-ecosystem: "github-actions"
    directory: ".github/workflows"
    schedule:
      interval: 'monthly'
      time: '00:00'
      timezone: 'Etc/UTC'
    cooldown:
      default-days: 7
