# Depending on the work being done, some environment variables will not be
# required for the service to run. For these, simply fill in any fake value
# to prevent require-env-variable from throwing errors.

# ------ General ------

# Tells stela what port to run on
PORT=8080

# Tells stela what environment it's running in
ENV="local"

DATABASE_URL="postgres://postgres:permanent@database:5432/permanent"

# ------ FusionAuth ------
# FusionAuth is the external identity provider used for authentication.
# All values can be found in the FusionAuth admin panel.

# Should be different between prod and other envs
FUSIONAUTH_HOST="<host URL here>"

# Settings -> API keys -> the one called "back-end (local)"
FUSIONAUTH_API_KEY="<API key here>"

# Tenants -> the one called "Local"
FUSIONAUTH_TENANT="<Tenant ID here>"

# Applications -> the one called "back-end (local)"
FUSIONAUTH_BACKEND_APPLICATION_ID="<backend application ID here>"

# Applications -> the one called "admin-local"
FUSIONAUTH_ADMIN_APPLICATION_ID="<admin application ID here>"

# Applications -> the one called "sftp (local)"
FUSIONAUTH_SFTP_APPLICATION_ID="<sftp application ID here>"

# ------ Legacy Backend ------

LEGACY_BACKEND_HOST_URL='http://load_balancer:80/api'

# Can be found in back-end's library/base/constants/base.constants.php
LEGACY_BACKEND_SHARED_SECRET="<shared secret here>"

LEGACY_BACKEND_CREDIT_STORAGE_SECRET="<secret here>"

# ------ Mailchimp ------

# Can be found in back-end's library/base/constants/base.constants.php
MAILCHIMP_API_KEY="<API key here>"

# Can be found in back-end's library/base/constants/base.constants.php,
# where it is called MANDRILL_API_KEY
MAILCHIMP_TRANSACTIONAL_API_KEY="<API key here>"

MAILCHIMP_DATACENTER=us12

# The default value corresponds to the dev list
MAILCHIMP_COMMUNITY_LIST_ID=2736f796db

# ------ Sentry ------

# Can be found in Sentry under Projects > stela > Settings > Client Keys (DSN)
SENTRY_DSN="<sentry DSN here>"

# Only set in local environments. Should be your given name, all lowercase.
# Used to create Sentry envs for developers.
DEV_NAME="<your given name here (lowercase)>"

# ------ AWS ------

# The same ones you use in devenv
AWS_ACCESS_KEY_ID="<YOUR AWS ACCESS KEY>"
AWS_SECRET_ACCESS_KEY="<YOUR AWS SECRET>"

AWS_REGION="us-west-2"

# Used to point certain cloud services at local copies in the local
# environments. Do not set in non-local.
AWS_ENDPOINT_URL='http://localstack:4566'

# Set to your local low priority SNS topic ARN (you may have to create this
# topic) if testing thumbnail regeneration. Doesn't need to be set to a real
# ARN unless your work touches it specifically.
LOW_PRIORITY_TOPIC_ARN=test

# Replace <DevName> with your first name (capitalized)
EVENT_TOPIC_ARN=arn:aws:sns:us-west-2:000000000000:Local_Events_<DevName>

# ------ Archivematica (API server) ------

# The base URL of the Archivematica instance.
ARCHIVEMATICA_BASE_URL="<URL here>"

# Found in Bitwarden. Uses the format username:apikey
ARCHIVEMATICA_API_KEY="<Archivematica username>:<Archivematica API key>"

# ------ Archivematica (trigger lambda) ------
# These are only needed for the archivematica_triggerer lambda.

ARCHIVEMATICA_HOST_URL=dev.archivematica.permanent.org

# Check the dev storage service to find the ID of the correct location for
# your local env.
ARCHIVEMATICA_ORIGINAL_LOCATION_ID=test

# Check dev Archivematica to find the correct processing workflow for your
# local env. It should have been created in CLOUD_SETUP.md, in the devenv repo.
ARCHIVEMATICA_PROCESSING_WORKFLOW="local_<dev_name>"

# ------ Mixpanel ------

# Found in Mixpanel at Settings > Project Settings > Project Token
MIXPANEL_TOKEN="<TOKEN_FOR_MIXPANEL>"

# ------ CloudFront ------
# Not required for the API server.

# Can be found as CDN_URL in back-end's
# library/base/constants/base.constants.php
CLOUDFRONT_URL="<CloudFront URL here>"

# Can be found as CLOUDFRONT_KEYPAIR in back-end's
# library/base/constants/base.constants.php
CLOUDFRONT_KEY_PAIR_ID="<CloudFront key pair ID here>"

# Can be found in back-end's
# library/static/certs/pk-APKAJP2D34UGZ6IG443Q.pem
CLOUDFRONT_PRIVATE_KEY="<CloudFront private key here>"

# ------ Stripe ------

# Can be found in the Stripe dashboard. Use the test key for all non-prod envs.
STRIPE_SECRET_KEY="<Stripe secret key here>"

# Can be found in the Stripe dashboard.
STRIPE_WEBHOOK_SECRET="<webhook secret here>"

# ------ Misc ------

SITE_URL=local.permanent.org

# A secret other servers pass to the stela API to verify their identities.
# This can be left as the default in local environments.
DELEGATED_CALL_SECRET=local-test-delegated-call-secret

# Don't set this in your local environment unless you're testing Slack
# notifications specifically; we don't want to spam the channel.
# SLACK_WEBHOOK_URL="<Slack webhook URL here>"
