name: Build
on:
  pull_request:
  workflow_call:
    inputs:
      publish:
        description: 'Whether to publish images to ECR'
        required: false
        type: boolean
        default: true
jobs:
  generate_image_tags:
    uses: ./.github/workflows/generate_image_tags.yml
    secrets: inherit

  build:
    name: ${{ matrix.package }}
    needs:
      - generate_image_tags
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - package: api
            image_tag_var: API_IMAGE_TAG
          - package: archivematica_cleanup
            image_tag_var: AM_CLEANUP_IMAGE_TAG
          - package: record_thumbnail_attacher
            image_tag_var: RECORD_THUMBNAIL_LAMBDA_IMAGE_TAG
          - package: thumbnail_refresh
            image_tag_var: THUMBNAIL_REFRESH_IMAGE_TAG
          - package: file_url_refresh
            image_tag_var: FILE_URL_REFRESH_IMAGE_TAG
          - package: access_copy_attacher
            image_tag_var: ACCESS_COPY_LAMBDA_IMAGE_TAG
          - package: account_space_updater
            image_tag_var: ACCOUNT_SPACE_UPDATE_IMAGE_TAG
          - package: trigger_archivematica
            image_tag_var: TRIGGER_ARCHIVEMATICA_IMAGE_TAG
          - package: metadata_attacher
            image_tag_var: METADATA_ATTACHER_LAMBDA_IMAGE_TAG
    steps:
      - uses: actions/checkout@v6
      - name: Build Image
        run: docker build -t $IMAGE_TAG --build-arg="AWS_RDS_CERT_BUNDLE=$AWS_RDS_CERT_BUNDLE" -f packages/${{ matrix.package }}/Dockerfile .
        env:
          IMAGE_TAG: ${{ needs.generate_image_tags.outputs[matrix.image_tag_var] }}
          AWS_RDS_CERT_BUNDLE: ${{ secrets.AWS_RDS_CERT_BUNDLE }}
      - name: AWS Login
        if: github.event_name == 'workflow_call' && inputs.publish
        run: aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 364159549467.dkr.ecr.$AWS_REGION.amazonaws.com
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Publish Image to ECR
        if: github.event_name == 'workflow_call' && inputs.publish
        run: docker push $IMAGE_TAG
        env:
          IMAGE_TAG: ${{ needs.generate_image_tags.outputs[matrix.image_tag_var] }}

  all-builds-passed:
    name: All builds passed
    needs: build
    runs-on: ubuntu-latest
    steps:
      - run: echo "All builds passed"
