name: Build deployable images
on:
  pull_request:
  workflow_call:
    inputs:
      publish:
        description: 'Whether to publish images to ECR'
        required: false
        type: boolean
        default: true
jobs:
  generate_image_tags:
    uses: ./.github/workflows/generate_image_tags.yml
    secrets: inherit

  build_api:
    needs:
      - generate_image_tags
    runs-on: ubuntu-24.04
    env:
      API_IMAGE_TAG: ${{ needs.generate_image_tags.outputs.API_IMAGE_TAG }}
    steps:
      - uses: actions/checkout@v6
      - name: Build Image
        run: docker build -t $API_IMAGE_TAG --build-arg="AWS_RDS_CERT_BUNDLE=$AWS_RDS_CERT_BUNDLE" -f packages/api/Dockerfile .
        env:
          AWS_RDS_CERT_BUNDLE: ${{ secrets.AWS_RDS_CERT_BUNDLE }}
      - name: AWS Login
        if: github.event_name == 'workflow_call' && inputs.publish
        run: aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 364159549467.dkr.ecr.$AWS_REGION.amazonaws.com
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Publish Image to ECR
        if: github.event_name == 'workflow_call' && inputs.publish
        run: docker push $API_IMAGE_TAG
  build_am_cleanup:
    needs:
      - generate_image_tags
    runs-on: ubuntu-24.04
    env:
      AM_CLEANUP_IMAGE_TAG: ${{ needs.generate_image_tags.outputs.AM_CLEANUP_IMAGE_TAG }}
    steps:
      - uses: actions/checkout@v6
      - name: Build Image
        run: docker build -t $AM_CLEANUP_IMAGE_TAG -f packages/archivematica_cleanup/Dockerfile .
      - name: AWS Login
        if: github.event_name == 'workflow_call' && inputs.publish
        run: aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 364159549467.dkr.ecr.$AWS_REGION.amazonaws.com
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Publish Image to ECR
        if: github.event_name == 'workflow_call' && inputs.publish
        run: docker push $AM_CLEANUP_IMAGE_TAG
  build_record_thumbnail_lambda:
    needs:
      - generate_image_tags
    runs-on: ubuntu-24.04
    env:
      RECORD_THUMBNAIL_LAMBDA_IMAGE_TAG: ${{ needs.generate_image_tags.outputs.RECORD_THUMBNAIL_LAMBDA_IMAGE_TAG }}
    steps:
      - uses: actions/checkout@v6
      - name: Build Image
        run: docker build -t $RECORD_THUMBNAIL_LAMBDA_IMAGE_TAG --build-arg="AWS_RDS_CERT_BUNDLE=$AWS_RDS_CERT_BUNDLE" -f packages/record_thumbnail_attacher/Dockerfile .
        env:
          AWS_RDS_CERT_BUNDLE: ${{ secrets.AWS_RDS_CERT_BUNDLE }}
      - name: AWS Login
        if: github.event_name == 'workflow_call' && inputs.publish
        run: aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 364159549467.dkr.ecr.$AWS_REGION.amazonaws.com
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Publish Image to ECR
        if: github.event_name == 'workflow_call' && inputs.publish
        run: docker push $RECORD_THUMBNAIL_LAMBDA_IMAGE_TAG
  build_thumbnail_refresh:
    needs:
      - generate_image_tags
    runs-on: ubuntu-24.04
    env:
      THUMBNAIL_REFRESH_IMAGE_TAG: ${{ needs.generate_image_tags.outputs.THUMBNAIL_REFRESH_IMAGE_TAG }}
    steps:
      - uses: actions/checkout@v6
      - name: Build Image
        run: docker build -t $THUMBNAIL_REFRESH_IMAGE_TAG --build-arg="AWS_RDS_CERT_BUNDLE=$AWS_RDS_CERT_BUNDLE" -f packages/thumbnail_refresh/Dockerfile .
        env:
          AWS_RDS_CERT_BUNDLE: ${{ secrets.AWS_RDS_CERT_BUNDLE }}
      - name: AWS Login
        if: github.event_name == 'workflow_call' && inputs.publish
        run: aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 364159549467.dkr.ecr.$AWS_REGION.amazonaws.com
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Publish Image to ECR
        if: github.event_name == 'workflow_call' && inputs.publish
        run: docker push $THUMBNAIL_REFRESH_IMAGE_TAG
  build_file_url_refresh:
    needs:
      - generate_image_tags
    runs-on: ubuntu-24.04
    env:
      FILE_URL_REFRESH_IMAGE_TAG: ${{ needs.generate_image_tags.outputs.FILE_URL_REFRESH_IMAGE_TAG }}
    steps:
      - uses: actions/checkout@v6
      - name: Build Image
        run: docker build -t $FILE_URL_REFRESH_IMAGE_TAG --build-arg="AWS_RDS_CERT_BUNDLE=$AWS_RDS_CERT_BUNDLE" -f packages/file_url_refresh/Dockerfile .
        env:
          AWS_RDS_CERT_BUNDLE: ${{ secrets.AWS_RDS_CERT_BUNDLE }}
      - name: AWS Login
        if: github.event_name == 'workflow_call' && inputs.publish
        run: aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 364159549467.dkr.ecr.$AWS_REGION.amazonaws.com
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Publish Image to ECR
        if: github.event_name == 'workflow_call' && inputs.publish
        run: docker push $FILE_URL_REFRESH_IMAGE_TAG
  build_access_copy_lambda:
    needs:
      - generate_image_tags
    runs-on: ubuntu-24.04
    env:
      ACCESS_COPY_LAMBDA_IMAGE_TAG: ${{ needs.generate_image_tags.outputs.ACCESS_COPY_LAMBDA_IMAGE_TAG }}
    steps:
      - uses: actions/checkout@v6
      - name: Build Image
        run: docker build -t $ACCESS_COPY_LAMBDA_IMAGE_TAG --build-arg="AWS_RDS_CERT_BUNDLE=$AWS_RDS_CERT_BUNDLE" -f packages/access_copy_attacher/Dockerfile .
        env:
          AWS_RDS_CERT_BUNDLE: ${{ secrets.AWS_RDS_CERT_BUNDLE }}
      - name: AWS Login
        if: github.event_name == 'workflow_call' && inputs.publish
        run: aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 364159549467.dkr.ecr.$AWS_REGION.amazonaws.com
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Publish Image to ECR
        if: github.event_name == 'workflow_call' && inputs.publish
        run: docker push $ACCESS_COPY_LAMBDA_IMAGE_TAG
  build_account_space_updater:
    needs:
      - generate_image_tags
    runs-on: ubuntu-24.04
    env:
      ACCOUNT_SPACE_UPDATE_IMAGE_TAG: ${{ needs.generate_image_tags.outputs.ACCOUNT_SPACE_UPDATE_IMAGE_TAG }}
    steps:
      - uses: actions/checkout@v6
      - name: Build Image
        run: docker build -t $ACCOUNT_SPACE_UPDATE_IMAGE_TAG --build-arg="AWS_RDS_CERT_BUNDLE=$AWS_RDS_CERT_BUNDLE" -f packages/account_space_updater/Dockerfile .
        env:
          AWS_RDS_CERT_BUNDLE: ${{ secrets.AWS_RDS_CERT_BUNDLE }}
      - name: AWS Login
        if: github.event_name == 'workflow_call' && inputs.publish
        run: aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 364159549467.dkr.ecr.$AWS_REGION.amazonaws.com
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Publish Image to ECR
        if: github.event_name == 'workflow_call' && inputs.publish
        run: docker push $ACCOUNT_SPACE_UPDATE_IMAGE_TAG
  build_trigger_archivematica:
    needs:
      - generate_image_tags
    runs-on: ubuntu-24.04
    env:
      TRIGGER_ARCHIVEMATICA_IMAGE_TAG: ${{ needs.generate_image_tags.outputs.TRIGGER_ARCHIVEMATICA_IMAGE_TAG }}
    steps:
      - uses: actions/checkout@v6
      - name: Build Image
        run: docker build -t $TRIGGER_ARCHIVEMATICA_IMAGE_TAG --build-arg="AWS_RDS_CERT_BUNDLE=$AWS_RDS_CERT_BUNDLE" -f packages/trigger_archivematica/Dockerfile .
        env:
          AWS_RDS_CERT_BUNDLE: ${{ secrets.AWS_RDS_CERT_BUNDLE }}
      - name: AWS Login
        if: github.event_name == 'workflow_call' && inputs.publish
        run: aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 364159549467.dkr.ecr.$AWS_REGION.amazonaws.com
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Publish Image to ECR
        if: github.event_name == 'workflow_call' && inputs.publish
        run: docker push $TRIGGER_ARCHIVEMATICA_IMAGE_TAG
  build_metadata_attacher:
    needs:
      - generate_image_tags
    runs-on: ubuntu-24.04
    env:
      METADATA_ATTACHER_LAMBDA_IMAGE_TAG: ${{ needs.generate_image_tags.outputs.METADATA_ATTACHER_LAMBDA_IMAGE_TAG }}
    steps:
      - uses: actions/checkout@v6
      - name: Build Image
        run: docker build -t $METADATA_ATTACHER_LAMBDA_IMAGE_TAG --build-arg="AWS_RDS_CERT_BUNDLE=$AWS_RDS_CERT_BUNDLE" -f packages/metadata_attacher/Dockerfile .
        env:
          AWS_RDS_CERT_BUNDLE: ${{ secrets.AWS_RDS_CERT_BUNDLE }}
      - name: AWS Login
        if: github.event_name == 'workflow_call' && inputs.publish
        run: aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin 364159549467.dkr.ecr.$AWS_REGION.amazonaws.com
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Publish Image to ECR
        if: github.event_name == 'workflow_call' && inputs.publish
        run: docker push $METADATA_ATTACHER_LAMBDA_IMAGE_TAG
